<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center"> My Recipes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary">

  <ion-card style="height: 95%; border-radius: 15px;">
    <div style="border-radius:15px; height: 93%; overflow-y: auto;">
      <ion-card *ngFor="let dish of myRecipeDishes" style="margin: 5%;">

        <img src={{dish.image}} style="height: 100px; width:100px; float:left">

        <div style="padding-left: 5%; display:inline-block; padding-top: 10px;">
          <ion-card-title style="font-size: medium ;">{{dish.dishName}}</ion-card-title>
          <ion-card-subtitle> Calories: {{dish.calories}} </ion-card-subtitle>
          <ion-card-subtitle> Time: {{dish.time}} </ion-card-subtitle>
          <ion-card-subtitle> Servings: {{dish.servings}} </ion-card-subtitle>
        </div>

        <div>
          <ion-button color="success" style="float: right;" (click)="showRe(dish)">Recipe</ion-button>
        </div>

      </ion-card>
    </div>
    <div style="float:right; height: 20%; margin-right: 15px;">
      <ion-icon color='tertiary' style="font-size: 50px" name="add-circle" (click)="addMyRecipe()"></ion-icon>
    </div>
  </ion-card>

</ion-content>