<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> My Pantry </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <!-- <ion-searchbar show-clear-button="always" placeholder=" Search Ingredients" color ='light' style="height: 10%;"></ion-searchbar>  -->

    <ion-card style="background-color: white; padding: 2%; height: 91%; overflow-y: auto; ">

      <div *ngFor="let ingredType of ingredientsType" > 
        <u style="font-size: 20px;"> {{ingredType}}: </u>   <br> <br>
        <ion-button *ngFor="let ingred of ingredientsList[0][ingredType]" (click)="onClickIngredients(ingred, ingredType)" [color]="isSelected[ingredType].includes(ingred) ? 'primary' : 'light'" style="padding-left: 5px;">
          {{ingred}}
        </ion-button>
        <br><br>
      </div>

    </ion-card>

    <div style="text-align: center; height: 9%;">
      <ion-button color="success" (click)="findDishes()"> Find Dishes </ion-button>
    </div>
    
</ion-content>
