<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">
      Favourites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style=" border-radius:15px; height: 95%; overflow-y: auto;">
    <ion-card *ngFor="let dish of favDishes" style="margin: 5%;">

      <img src={{dish.image}} style="height: 100px; width:100px; float:left">
      <ion-buttons style="float: right; padding-right: 5%; padding-top: 10px;" (click)="starClick(dish)">
        <ion-icon [name]='dish.isFavorite ? "star" : "star-outline"' style="font-size:large;"></ion-icon>
      </ion-buttons>
      
  
      <div style="padding-left: 5%; display:inline-block; padding-top: 10px;">
        <ion-card-title style = "font-size: medium ;">{{dish.dishName}}</ion-card-title>
        <ion-card-subtitle> Calories: {{dish.calories}} </ion-card-subtitle>
        <ion-card-subtitle> Time: {{dish.time}} </ion-card-subtitle>
        <ion-card-subtitle> Servings: {{dish.servings}} </ion-card-subtitle>
      </div>
  
      <div>
        <ion-button color="success" style="float: right;" (click)="showRecipe(dish)">Recipe</ion-button>
      </div>
      
    </ion-card>
  </ion-card>
  

</ion-content>
